<html ng-app="app">

  <head>
    <!-- angular inclusion -->
    <script src="/js/angular.min.js"></script>

    <!-- intro includes -->
    <script src="/js/intro.js"></script>
    <link href="/css/introjs.css" rel="stylesheet">


    <!-- bootstrap stuff -->
    <script src="/js/ui-bootstrap-tpls-0.3.0.min.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- my application --> 
    <script src="/js/app.js"></script>


  </head>
  <body>

    <div class="container" data-intro='Hello step one!' data-step='1'>
      <section id="login">
	<div class="page-header" >
	  <h1>login test</h1>
	</div>


	<div ng-controller="CollapseDemoCtrl">
	  <button class="btn" ng-click="isCollapsed = !isCollapsed">Toggle collapse</button>
	  <hr>
	  <div collapse="isCollapsed">


	    <div ng-controller="CarouselDemoCtrl">
	      <carousel interval="myInterval">
		<slide ng-repeat="slide in slides" active="slide.active">
		  <img ng-src="{{slide.image}}" style="margin:auto;">
		  <div class="carousel-caption">
		    <h4>Slide {{$index}}</h4>
		    <p>{{slide.text}}</p>
		  </div>
		</slide>
	      </carousel>
	      <div class="row-fluid">
		<div class="span6">
		  <ul>
		    <li ng-repeat="slide in slides">
		      <button class="btn btn-mini" ng-class="{'btn-info': !slide.active, 'btn-success': slide.active}" ng-disabled="slide.active" ng-click="slide.active = true">select</button>
		      {{$index}}: {{slide.text}}
		    </li>
		  </ul>
		  <a class="btn" ng-click="addSlide()">Add Slide</a>
		</div>
		<div class="span6">
		  Interval, in milliseconds: <input type="number" ng-model="myInterval">
		  <br />Enter a negative number to stop the interval.
		</div>
	      </div>
	    </div>
	  </div>
	</div>

	
	<div class="row">
	  <div class="span6">
	    <div class="well well-large" id="view" ng-view ></div>
	  </div>
	</div>
      </section>
    </div>


    <div ng-controller="ModalDemoCtrl">
      <button class="btn" ng-click="open()">Open me!</button>
      <div modal="shouldBeOpen" close="close()" options="opts">
        <div class="modal-header">
          <h4>You've already logged in!</h4>
        </div>
        <div class="modal-body">
          <ul>
            <li ng-repeat="item in items">{{item}}</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
        </div>
      </div>
    </div>


    <script type="text/javascript">
      //introJs().start();
    </script>
  </body>
</html>
